/* ==== 
 --------- all sections styles start ---------
 ==== */

// 5.01  agency styles

.agency {
  background-color: var(--tertiary-color);
  z-index: 1;
  position: relative;

  .agency__thumb {
    position: relative;
    overflow: hidden;
    text-align: end;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: 0px;
      right: 10%;
      width: 40px;
      height: 40px;
      background-image: url("../../../public/images/agency/dot.png");
      background-size: cover;
      z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 40px;
      height: 40px;
      background-image: url("../../../public/images/agency/dot.png");
      background-size: cover;
      z-index: -1;
    }
    img {
      max-width: 100%;
      height: auto;
    }

    .thumb-one {
      position: absolute;
      top: 0px;
      left: 0px;
      max-width: 100%;
    }
    .thumb-two {
      margin-top: 300px;
      z-index: 2;
      position: relative;
      max-width: 40%;
      filter: drop-shadow(-15px -18px 0px #2fdd7e);
    }
  }

  .agency__content {
    padding-left: 70px;
  }

  .star {
    position: absolute;
    top: 50%;
    left: 40px;
    z-index: -1;
  }

  .skill-wrap {
    margin-top: 40px;
  }

  .skill-bar-single {
    margin-bottom: 30px;
    &:nth-last-of-type(1) {
      margin-bottom: 0px;
    }
  }

  .skill-bar-wrapper {
    margin-top: 15px;
  }

  .skill-bar {
    height: 8px;
    border-radius: 100px;
    background-color: #363636;
    position: relative;
  }

  .skill-bar-percent {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background-color: #cecece;
    border-radius: inherit;
  }

  .percent-value {
    position: absolute;
    bottom: calc(100% + 15px);
    right: 0px;
  }

  .dot-large {
    position: absolute;
    bottom: 40px;
    right: 4%;
    max-width: 25vw;
    z-index: -1;
  }
}

// 5.03 portfolio styles
.portfolio {
  overflow-x: clip;
  .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
  }

  .portfolio__text-slider {
    margin-bottom: 80px;

    .swiper-wrapper {
      display: flex;
      align-items: center;
    }

    .swiper-slide {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: auto;
    }
  }
  .portfolio__text-slider-single {
    h2 {
      font-weight: 900;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      gap: 30px;
      margin-bottom: 0px;
      i {
        color: var(--primary-color);
      }
    }

    a {
      gap: 30px;
    }
    &:nth-of-type(even) {
      .project__text-slider-single {
        h2 {
          font-family: sans-serif;
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke: 2px var(--white);
          i {
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 2px var(--primary-color);
          }

          a {
            &:hover {
              -webkit-text-stroke-color: var(--primary-color);
            }
          }
        }
      }
    }
  }

  .str {
    font-family: sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px var(--white);
    i {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 2px var(--primary-color);
    }

    a {
      &:hover {
        -webkit-text-stroke-color: var(--primary-color);
      }
    }
  }

  .portfolio__single {
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      left: 20px;
      bottom: 20px;
      width: 0px;
      height: 0px;
      transition: var(--transition);
      background-color: var(--primary-color);
    }
    &::after {
      content: "";
      position: absolute;
      right: 20px;
      bottom: 20px;
      height: 0px;
      width: 0px;
      transition: var(--transition);

      background-color: var(--primary-color);
    }
    a {
      width: 100%;
    }
    img {
      width: 100%;
      min-height: 300px;
    }

    .portfolio__single-content {
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 40px;
      background-color: var(--white);
      text-align: end;
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: flex-end;
      justify-content: flex-end;
      transform: translateY(-160%) scale(1.4);
      transition: var(--transition);
      max-width: 90%;
      max-height: 85%;

      a {
        width: auto;
        i {
          font-size: 56px;
          color: var(--primary-color);
        }
      }
      h4 {
        a {
          font-size: 20px;
          line-height: 35px;
          color: var(--black);
          font-weight: 600;
          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }

    &:hover {
      &::before {
        width: 1px;
        height: calc(100% - 40px);
      }
      &::after {
        height: 1px;
        width: calc(100% - 40px);
      }
      .portfolio__single-content {
        transform: translateY(0px) scale(1);
      }
    }
  }

  /*.portfolio__single-active {
    &::before {
      width: 1px;
      height: calc(100% - 40px);
    }
    &::after {
      height: 1px;
      width: calc(100% - 40px);
    }
    .portfolio__single-content {
      transform: translateY(0px) scale(1);
    }
  }*/

  .portfolio__single-alt-wrapper {
    background-color: black;
    padding: 20px;
    border: 1px solid var(--primary-color);
    height: 100%;
  }

  .portfolio__single-alt {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    z-index: 1;
    min-height: 300px;
    h4 {
      text-transform: uppercase;
    }
    .arr {
      position: absolute;
      bottom: 60px;
      left: 60px;
      font-size: 120px;
      font-weight: 900;
      color: var(--primary-color);
    }

    img {
      max-width: 25%;
    }

    .dot-one {
      position: absolute;
      top: 40px;
      left: 40px;
      z-index: -1;
    }
    .dot-two {
      position: absolute;
      bottom: 40px;
      right: 40px;
      z-index: -1;
    }
  }
}

// 5.07 offer styles
.offer {
  position: relative;
  z-index: 1;
  overflow: hidden;
  .star {
    position: absolute;
    bottom: 20%;
    z-index: -1;
    left: 40%;
    transform: translate(-40%, -20%);
  }

  .offer__cta {
    .sub-title {
      display: inline-flex;
      align-items: center;
      gap: 12px;
      padding: 12px 20px;
      line-height: 1;
      border: 1px solid #414141;
      color: #404040;
      border-radius: 30px;
      margin-bottom: 32px;
      text-transform: uppercase;
      margin-bottom: 20px;
      transition: var(--transition);
      i {
        transform: rotate(-45deg);
        color: var(--primary-color);
        opacity: 0.5;
        transition: var(--transition);
      }
    }

    h2 {
      a {
        justify-content: space-between;
        text-transform: capitalize;
        width: 100%;
        font-weight: 500;
        color: #404040;
        gap: 16px;
        i {
          font-weight: 900;
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke: 1px #404040;
          transition: var(--transition);
        }
      }
    }

    .offer__cta-single {
      position: relative;
      margin-bottom: 65px;
      &:nth-last-of-type(1) {
        margin-bottom: 0px;
      }
    }

    .offer-thumb-hover {
      width: 200px;
      height: 270px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      inset-inline-start: 0;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position-x: 75%;
      opacity: 0;
      transition: opacity 0.3s, transform 0.7s cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
      margin: -200px 0 0 -150px;
      overflow: hidden;
      pointer-events: none;
      z-index: -1;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .offer__cta-single {
      &:hover {
        .sub-title {
          color: var(--primary-color);
          i {
            opacity: 1;
          }
        }
        h2 {
          a {
            color: var(--primary-color);
            i {
              -webkit-text-fill-color: unset;
              -webkit-text-stroke: 0px;
              color: var(--primary-color);
            }
          }
        }

        .offer-thumb-hover {
          opacity: 1;
        }
      }
    }
  }
}

// 5.09 testimonial styles
.testimonial {
  .testimonial__text-slider {
    margin-bottom: 80px;
  }
  .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
  }
  .swiper-wrapper {
    display: flex;
    align-items: center;
  }

  .swiper-slide {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
  }
  .testimonial__text-slider-single {
    h2 {
      font-weight: 900;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      gap: 30px;
      margin-bottom: 0px;
      font-family: sans-serif;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 2px var(--white);
      a {
        gap: 30px;
      }
      i {
        -webkit-text-fill-color: var(--primary-color);
        -webkit-text-stroke: 0px var(--primary-color);
        color: var(--primary-color);
      }
      a {
        &:hover {
          -webkit-text-stroke-color: var(--primary-color);
        }
      }
    }
  }
  .testimonials_img{
    border: 4px solid #fff!important;
    border-radius: 50%;
    padding: 0%;
    margin: 0%;
  }


  .testimonial-s__slider {
    .thumb {
      position: relative;
      svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -80px;
      }
    }
    .testimonial-s__content {
      .quote {
        i {
          font-size: 56px;
          color: var(--primary-color);
        }
      }
      .content {
        margin: 30px 0px;
      }
      h4 {
        font-weight: 400;
        text-transform: capitalize;
      }

      .content-cta {
        p {
          color: #2fdd7e!important;
          margin-top: 6px;
        }
      }
    }
  }

  .slide-group {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    flex-direction: column;

    button {
      position: relative;
      z-index: 9;
    }
  }

  .other-section {
    position: absolute;
    left: 0px;
    bottom: 130px;
    width: 330px;
    opacity: 0.25;
    transform: translateX(-40%);
  }
}


// 5.17 next page styles
.next-page {
  .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
    display: flex;
    align-items: center;
  }
  .swiper-slide {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
  }

  .next__text-slider-single {
    h2 {
      a {
        font-weight: 900;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 30px;

        i {
          color: var(--primary-color);
        }
      }
    }
  }

  .str {
    a {
      font-family: sans-serif;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 2px var(--white);
      color: transparent;
      i {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px var(--primary-color);
      }
      &:hover {
        -webkit-text-stroke-color: var(--primary-color);
      }
    }
  }
}

.liner {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60%;
    border-top: 1px solid #414141;
  }
}

// 5.18 award styles
.award {
  background-color: var(--tertiary-color);
  position: relative;
  z-index: 1;
  overflow: hidden;

  .award-thumb {
    img {
      border-radius: 0px 1000px 1000px 0px;
    }
  }

  .award__content {
    .title {
      span {
        color: var(--primary-color);
      }
    }
  }

  .award__content-meta {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    margin-top: 40px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50px;
      left: 0px;
      right: 0px;
      height: 1px;
      width: 100%;
      background-color: var(--primary-color);
    }
  }

  .single {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50px;
      left: 0px;
      border: 15px solid transparent;
      border-top-color: var(--primary-color);
    }
    h4 {
      &:nth-of-type(1) {
        color: var(--primary-color);
        font-weight: 500;
        margin-bottom: 50px;
      }

      color: white;
      font-weight: 700;
    }

    p {
      margin-top: 10px;
      color: var(--secondary-color);
    }
  }

  .star,
  .star-two,
  .dot,
  .dot-two {
    position: absolute;
    z-index: -1;
  }

  .star {
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 10vw;
  }

  .star-two {
    bottom: 60px;
    left: 20%;
    max-width: 2vw;
  }

  .dot {
    top: 40%;
    left: 6%;
    max-width: 10vw;
  }
  .dot-two {
    bottom: 60px;
    left: 50%;
    transform: translateX(-45%);
    max-width: 10vw;
  }
}

// 5.20 cta styles
.cta-s {
  .cta__wrapper {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 20px;
    background-color: #101010;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .footer__single-form {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;

    .input-email {
      border-radius: 100px;
      border: 1px solid #c1c1c1;

      input {
        padding: 24px 30px;
        width: calc(100% - 100px);
      }

      button {
        width: 100px;
        min-width: 100px;
      }
    }
  }

  .star,
  .star-two {
    position: absolute;
    z-index: -1;
    opacity: 0.25;
  }

  .star {
    left: 40px;
    top: 20%;
    max-width: 10vw;
  }

  .star-two {
    right: 60px;
    bottom: 10%;
    max-width: 10vw;
  }
}

// 5.22 service faq styles
.service-f {
  position: relative;
  z-index: 1;
  overflow: hidden;
  .service-f-single {
    padding: 40px 0px;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    border-top: 1px solid #414141;
    padding-right: 90px;
    position: relative;
    &:nth-last-of-type(1) {
      border-bottom: 1px solid #414141;
    }

    .toggle-service-f {
      position: relative;
      &::before {
        content: "\2b";
        font-family: "Font Awesome 6 Pro";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--white);
        font-size: 18px;
      }
    }
    .p-single {
      display: none;
    }
  }

  .service-f-single-active {
    .toggle-service-f {
      &::before {
        content: "\f068";
        font-family: "Font Awesome 6 Pro";
        color: var(--primary-color);
        font-size: 18px;
      }
    }

    .single-item {
      .sub-title {
        opacity: 1;
      }
    }

    .p-single {
      display: block !important;
      animation: atg 0.4s ease-in-out;
    }

    @keyframes atg {
      0% {
        transform: translateY(-10px);
      }

      100% {
        transform: translateY(0px);
      }
    }
  }

  .single-item {
    .sub-title {
      display: inline-flex;
      align-items: center;
      gap: 12px;
      padding: 12px 20px;
      line-height: 1;
      border: 1px solid #414141;
      color: var(--white);
      border-radius: 30px;
      margin-bottom: 32px;
      text-transform: uppercase;
      margin-bottom: 20px;
      transition: var(--transition);
      opacity: 0.5;
      i {
        transform: rotate(-45deg);
        color: var(--primary-color);
        transition: var(--transition);
      }
    }

    h4 {
      margin-bottom: 24px;
    }

    p {
      max-width: 450px;
    }

    ul {
      min-width: 220px;
    }

    li {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 12px;
      &:nth-last-of-type(1) {
        margin-bottom: 0px;
      }
      i {
        font-size: 14px;
        color: var(--primary-color);
      }
    }
  }

  button {
    @include box(50px);
    background-color: #1d1d1d;
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
  }

  .p-single {
    display: none;
  }

  .dot-img {
    position: absolute;
    top: 50%;
    left: 6%;
    max-width: 15vw;
    z-index: -1;
  }
}

// 5.23 work steps styles
.work-steps {
  position: relative;
  z-index: 1;
  overflow: hidden;
  .work-steps__single {
    padding-top: 230px;
    position: relative;

    h5 {
      position: relative;
      z-index: 2;
      padding: 16px 30px;
      border: 1px dashed #414141;
      background-color: var(--black);
      border-radius: 100px;
      overflow: hidden;
      text-transform: capitalize;
      transition: var(--transition);

      &::before {
        content: "";
        position: absolute;
        inset: 0px;
        width: 0%;
        border-radius: 100px;
        background: linear-gradient(
          90deg,
          #2fdd7e 0%,
          rgba(255, 116, 37, 0) 60.08%
        );
        z-index: -1;
        transition: var(--transition);
      }
    }

    span {
      position: absolute;
      top: 0px;
      right: 0px;
      @include box(60px);
      background-color: #1f1f1f;
      text-align: center;
      color: #8d8d8d;
      line-height: 1.4;
      transition: var(--transition);
      &::after {
        content: "";
        position: absolute;
        top: calc(100% + 30px);
        left: 50%;
        transform: translateX(-50%);
        height: 0px;
        width: 1px;
        background-color: #414141;
        transition: var(--transition);
      }
    }

    .work-thumb-hover {
      width: 600px;
      height: 220px;
      position: absolute;
      top: 100%;
      inset-inline-start: 0;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position-x: 75%;
      opacity: 0;
      transition: opacity 0.3s, transform 0.7s cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
      margin: 60px 0 0 -150px;
      overflow: hidden;
      pointer-events: none;
      z-index: -1;
    }

    &:hover {
      span {
        background-color: var(--primary-color);
        color: var(--white);
        &::after {
          height: 108px;
        }
      }
      h5 {
        border: 1px solid transparent;
        &::before {
          width: 100%;
        }
      }

      .work-thumb-hover {
        opacity: 1;
      }
    }
  }

  .work-steps__single-active {
    span {
      background-color: var(--primary-color);
      color: var(--white);
      &::after {
        height: 108px;
      }
    }
    h5 {
      border: 1px solid transparent;
      &::before {
        width: 100%;
      }
    }

    .work-thumb-hover {
      opacity: 1;
    }
  }

  .work-two {
    margin-top: 100px;
  }
  .work-three {
    margin-top: 200px;
  }
  .work-four {
    margin-top: 300px;
  }

  .video-frame {
    position: absolute;
    top: 33%;
    right: 12%;
    @include box(190px);
    font-size: 30px;
    color: var(--primary-color);
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      inset: 0px;
      animation: rotateInfinite 24s linear infinite;
      animation-play-state: running;
    }

    &:hover {
      img {
        animation-play-state: paused;
      }
    }
  }
}

.work-alt {
  background-color: var(--tertiary-color);
}

.four-info {
  .primary-text {
    margin-bottom: 24px;
    font-weight: 600;
  }
}

// 5.24 projects
.projects-s {
  .projects-s__single {
    padding: 30px;
    border: 1px solid #414141;

    .thumb {
      a {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }

    .content {
      margin-top: 30px;
      h4 {
        text-transform: capitalize;
      }
      p {
        margin-top: 20px;
        color: #d9d9d9;
      }
    }
  }

  .gaper {
    margin-bottom: 65px;
    &:nth-last-of-type(1) {
      margin-bottom: 0px;
    }
  }
}

// 5.25 project text slider

.project__text-slider {
  margin-bottom: 80px;
  padding: 40px 0px !important;
  border-top: 1px solid #414141;
  border-bottom: 1px solid #414141;
  .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
    display: flex;
    align-items: center;
  }

  .swiper-slide {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
  }
}

.project__text-slider-single {
  h2 {
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 0px;
    i {
      color: var(--primary-color);
      font-size: 30px;
    }
  }
}

@keyframes fde {
  0% {
    transform: translateY(40px);
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateY(0px);
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fdee {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}


// 5.28 achievements
.achievements {
  .achievements__slider-single {
    text-align: center;
  }
}

// 5.31 project styles
.project-sl {
  display: flex;
  align-items: center;
  position: relative;
  overflow-x: clip;
  margin: 0px -15px;
  .project-sl__single {
    padding: 0px 15px;
    max-width: 360px;
    min-width: 360px;
    width: 100%;
    border-right: 1px solid #414141;
    &:hover {
      a {
        color: var(--primary-color);
      }
    }
  }

  .thumb {
    margin-bottom: 100px;
    a {
      width: 100%;
      height: 430px;
      display: block;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      height: 400px;
      a {
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
        text-transform: capitalize;
      }
    }
  }
}

// 5.32 project details
.project-d {
  .project-d-group {
    h3 {
      margin-bottom: 40px;
    }

    p {
      margin-bottom: 30px;
      &:nth-last-of-type(1) {
        margin-bottom: 0px;
      }
    }

    ul {
      margin-top: 20px;
      li {
        margin-bottom: 12px;
        list-style-type: disc;
        &:nth-last-of-type(1) {
          margin-bottom: 0px;
        }
      }
    }
  }

  .poster__slider-wrapper {
    position: relative;
    overflow: hidden;
    margin: 60px 0px;
    img {
      width: 100%;
      min-height: 300px;
    }

    .slide-group {
      padding: 0px 30px;
      position: absolute;
      top: 50%;
      left: 0px;
      right: 0px;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-between;
      z-index: 1;
      button {
        z-index: 2;
      }
    }
  }

  .project-d-o__single {
    padding: 30px;
    border: 1px solid #414141;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    h5 {
      position: relative;
      padding-left: 20px;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: var(--primary-color);
      }
    }

    p {
      color: #757575;
      margin-top: 12px;
    }
    .thumb {
      @include box(100px);
      background-color: var(--primary-color);
      border-radius: 5px;
    }
  }

  .quote-pj {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 160px 40px 0px;
    border: 1px solid #414141;
    border-left: 0px;
    border-right: 0px;
    margin-top: 40px;

    .quote {
      margin-bottom: 30px;
      i {
        color: var(--primary-color);
        font-size: 56px;
      }
    }

    .cont {
      max-width: 800px;
    }
    h4 {
      color: var(--secondary-color);
    }
  }

  .project-d__slider {
    img {
      width: 100%;
      min-height: 280px;
    }
  }
}

// 5.38 portfolio
.portfolio-m {
  .portfolio-m__single {
    height: 100%;
    position: relative;
    overflow: hidden;
    .thumb {
      a {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          min-height: 360px;
        }
      }
    }
    .content {
      position: absolute;
      inset: 0px;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 40px;
      transform: translateY(100%);
      transition: all 0.4s ease-in-out;
      i {
        font-size: 120px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px var(--primary-color);
      }
      a {
        text-transform: capitalize;
      }
    }

    .tr {
      text-align: end;
    }
    &:hover {
      .content {
        transform: translateY(0px);
      }
    }
  }
}

// 5.42 error
.error {
  span {
    font-weight: 500;
    color: var(--white);
    text-transform: uppercase;
  }

  .thumb {
    margin: 60px 0px;
  }

  h2 {
    letter-spacing: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 1.6;
  }
}

.section__header,
.section__content {
  .title {
    div {
      text-transform: lowercase !important;
      font-weight: 600;
      &:nth-child(1) {
        text-transform: capitalize !important;
      }
    }
  }
}

.g-ind {
  position: relative;
  z-index: 99;
}

.grid-item-main.hidden {
  display: none;
}

.accordion-collapse {
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  display: block !important;
  transition: all 0.6s ease-in;
}

.accordion-collapse.show {
  height: auto;
  opacity: 1;
  visibility: visible;
  overflow: visible;
}

select {
  -webkit-appearance: none;
  appearance: none;
  position: relative;

  &:focus {
    border: 0px;
    outline: 0px;
    border-bottom: 2px solid #414141;
  }

  option {
    line-height: 40px;
    height: 40px;
    min-height: 40px;
    background-color: black;
    &:hover {
      background-color: black;
    }
  }
}

.drt {
  position: relative;
  &::after {
    content: "\f107";
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
    color: white;
    font-size: 20px;
    top: 50%;

    right: 20px;
    position: absolute;
  }
}

/* ==== 
 --------- all sections styles end ---------
 ==== */
